html {
	font-size: 10px;
}

body {
	padding-bottom: 40px;
	color: white;
	background-color: #353895;
	font-size: 14px;
	line-height: 1.5;
}

a,
a:visited {
	color: white;
	text-decoration: underline;
}

.logo {
	margin: 40px 0 140px 0;
	padding: 0;
	text-align: center;
}

.logo img {
	width: 100%;
}
