html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
	background-color: #353895;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
	padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.header__logo {
	margin: 0;
	padding: 0;
	text-align: center;
}

.header__logo-img {
  max-width: 100%;
  height: auto;
}

#logo .path-1,
#logo .path-2 {
  fill: white;
}
